<div>
    <a class="fa fa-plus-circle" ng-click="vm.openWidgetSetting(widgetGroup,widget)">&nbsp;<span class="widget-dropdown">$DashboardModule.Settings.AddWidget</span></a>
    <hr>
    <a class="fa fa-files-o" ng-click="vm.duplicateWidgetGroup()">&nbsp;<span class="widget-dropdown">$DashboardModule.Settings.DuplicateContainer</span></a>
    <hr>
    <a class="fa fa-trash" ng-click="vm.deleteWidgetGroup()">&nbsp;<span class="widget-dropdown">$DashboardModule.Settings.DeleteContainer</span></a>
</div>