<div class="modal-header modal-header-color">
    <button type="button" ng-click="vm.cancel()" class="close"><span class="glyphicon glyphicon-remove"></span></button>
    <h4 class="modal-title heading" id="myModalLabel"><span class="glyphicon glyphicon-cog"></span><span>&nbsp;$DashboardModule.Settings.ContainerTheme</span></h4>
</div>

<div class="modal-body pad">

    <!-- Color/Name step -->

    <div class="form-horizontal" ng-if="vm.selectedWidgetGroup.modalPage === vm.themePageName">
        <div class="form-group">
            <div class="col-sm-4"><label>$DashboardModule.Settings.Title</label>
            </div>
            <div class="col-sm-8">
                <input type="text" ng-model="vm.selectedWidgetGroup.Title"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4"><label>$DashboardModule.Settings.HeadingColor</label>
            </div>
            <div class="col-sm-8">
                <div ng-repeat="color in vm.lists.headerColors" style="float: left">
                    <div class="btn circle {{color.Value}}" ng-class="{selectedItem: color.Value === vm.selectedWidgetGroup.Color.Value}" ng-click="vm.setHeaderColor(color)"></div>&nbsp;
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4"><label>$DashboardModule.Settings.Icon</label>
            </div>
            <div class="col-sm-8">
                <div ng-repeat="item in vm.lists.icons" style="float: left">
                    <button type="button" class="btn circle" ng-class="{selectedItem: item.Value === vm.selectedWidgetGroup.Icon.Value }" ng-click="vm.setHeaderIcon(item)" id="icons"><span class="{{item.Value}}"></span></button>&nbsp;
                </div>

            </div>
        </div>
    </div>

    <!-- Widget settings step -->
    <div ng-if="vm.selectedWidgetGroup.modalPage === vm.dataSettingsPageName">

        <!-- loading screen -->
        <div ng-if="vm.widgetGroupSettingsLoading" style="min-height: 300px; display: flex; justify-content: center; flex-direction: column">
            <div as-ui-loading style="align-self: center" class="big"></div>
        </div>
     
        <!-- step -->
        <div class="form-group" ng-if="!vm.widgetGroupSettingsLoading">
            <div class="row">
                <div class="col-sm-3 text-uppercase">
                    <label>$DashboardModule.Settings.Customer</label>
                </div>
                <div class="col-sm-9">
                    <div
                        isteven-multi-select
                        input-model="vm.CustomersList"
                        output-model="vm.selectedWidgetGroup.Customers"
                        button-label="icon Name"
                        item-label="icon Name maker"
                        tick-property="checked"
                        on-close="vm.customersChanged()"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 text-uppercase">
                    <label>$DashboardModule.Settings.Site</label>
                </div>
                <div class="col-sm-9">
                    <div
                        isteven-multi-select
                        input-model="vm.SitesList"
                        output-model="vm.selectedWidgetGroup.Sites"
                        button-label="icon Name"
                        item-label="icon Name maker"
                        tick-property="checked"
                        on-close="vm.sitesChanged()"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 text-uppercase">
                    <label>$DashboardModule.Settings.Building</label>
                </div>
                <div class="col-sm-9">
                    <div
                        isteven-multi-select
                        input-model="vm.LocationsList"
                        output-model="vm.selectedWidgetGroup.Locations"
                        button-label="icon Name"
                        item-label="icon Name maker"
                        tick-property="checked"
                        on-close="vm.locationsChanged()"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 text-uppercase">
                    <label>$DashboardModule.Settings.Post</label>
                </div>
                <div class="col-sm-9">
                    <div
                        isteven-multi-select
                        input-model="vm.GuardroomsList"
                        output-model="vm.selectedWidgetGroup.Guardrooms"
                        button-label="icon Name"
                        item-label="icon Name maker"
                        tick-property="checked"
                        on-close="vm.guardroomsChanged()"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 text-uppercase">
                    <label >$DashboardModule.Settings.Date</label>
                </div>
                <div class="col-sm-9">
                    <div uib-dropdown on-toggle="toggled(open)">
                        <a class="btn btn-default btnDropdown" uib-dropdown-toggle>
                            <span style="float: left">{{vm.selectedWidgetGroup.DateRange.ValueTranslated}}</span><span style="float: right"><b class="caret"></b></span> </a>
                        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="dateDropdown">
                            <li ng-repeat="date in vm.lists.dateRange">
                                <a ng-click="vm.selectDateRange(date)">{{date.ValueTranslated}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<div class="modal-footer text-right">
    
    <button class="btn primary-btn"
            ng-click="vm.selectedWidgetGroup.modalPage = vm.themePageName"
            ng-if="vm.selectedWidgetGroup.modalPage === vm.dataSettingsPageName"
            ng-disabled="!vm.dataStepIsValid()">
        $DashboardModule.Settings.Next
    </button>

    <button class="btn primary-btn"
            ng-click="vm.ok()"
            ng-if="vm.selectedWidgetGroup.modalPage === vm.themePageName"
            ng-disabled="!vm.widgetGroupValid()">
        $DashboardModule.Settings.Finish
    </button>

</div>