<div class="modal-header modal-header-color">
    <button type="button" ng-click="vm.cancel()" class="close"><span class="glyphicon glyphicon-remove"></span></button>
    <h4 class="modal-title heading"><span class="glyphicon glyphicon-cog"></span><span>&nbsp;Are you sure?</span></h4>
</div>

<div class="modal-body pad" style="min-height: 100px; font-size: 16px">
    Do you really want to delete widget?
</div>

<div class="modal-footer text-right">
     <button class="btn primary-btn btn-danger" ng-click="vm.confirm()">Delete</button>
     <button class="btn primary-btn" ng-click="vm.cancel()">Cancel</button>
</div>